 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How it works</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Do you want to use Netflix but find it costly? Do you ask your friends to share but nobody is interested? Are you tired of asking share amount from friends? Do you feel left out when your friends talk about Netflix shows? Do you want to save money? </p>
                </div>
                <div class="col-lg-4">
                    <p>We have a solution for you. We find awesome people like yourself who want to share Netflix and save money. We will form group of people and ensure entertainment runs smoothly. No more hassle of running after friends. You will get HD and Ultra HD subscription for 1 user only for ₹225 per month. Are you interested? Click below to show interest.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a onclick="openInterestForm('page2');" class="btn btn-lg btn-outline">
                        <i class="fa fa-quote-right"></i> &nbsp;I am interested &nbsp;<i class="fa fa-quote-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
